<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alohar.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- permissions for the Alohar SDK -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
		
    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
         >
        <activity
            android:label="@string/app_name"
            android:name=".CobraDemoActivity" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".LogActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="User Stays"
            android:name=".UserStayListActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="Places"
            android:name=".PlaceListActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="Place Candidates"
            android:name=".CandidateListActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="Place Events"
            android:name=".PlaceEventListActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- services -->
        <!-- add those services to use Alohar SDK -->
		<service android:enabled="true" android:name="com.alohar.core.ALCoreService" />
		<service android:enabled="true" android:name="com.alohar.core.ALMasterService" />
		<receiver android:name="com.alohar.core.ALBroadcastReceiver" android:enabled="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"></action>
			</intent-filter>
		</receiver>
            
    </application>

</manifest>